/* header part */

* {
  margin: 0px;
  padding: 0px;
}
.bg-image {
  background-image: url(/images/donation13.jpg);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
}
.bg-header {
  width: 826px;
  height: 160px;
  transform: translate(50%, -300%);
}

.bg-heading {
  font-weight: 700;
  font-size: 55px;
  line-height: 79px;
  text-align: center;
  color: #ffffff;
}

.bg-paragraph {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

.donate {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #ff5959;
  border-radius: 5px;
  text-align: center;
  border-style: none;
  padding: 16px 12px;
}

.button-center {
  margin-top: 30px;
  text-align: center;
}

/* donation part */

.donate-today {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #121212;
  margin-bottom: 20px;
}

.donate-today-description {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #707070;
  padding: 0 275px;
  margin-bottom: 50px;
}

.amount {
  display: flex;
  gap: 22px;
  justify-content: space-around;
  padding: 0 340px;
}

.amount p {
  background: #fafafa;
  border-radius: 5px;
  padding: 44px 25px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #707070;
  margin-bottom: 60px;
}

#selected-amount {
  background: #fafafa;
  border-radius: 5px;
  padding: 44px 25px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #707070;
  border: 2px solid #707070;
}

.other-amount {
  border: none;
  text-align: center;
  color: #b3b3b3;
}

.input-center {
  text-align: center;
  margin-bottom: 10px;
}
.horizontal-line {
  margin: 0 338px;
  margin-bottom: 30px;
}

.donate-1 {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #ff5959;
  border-radius: 5px;
  text-align: center;
  border-style: none;
  padding: 16px 12px;
  margin-bottom: 130px;
}

/* our donate plan */

.food-shelter-education {
  display: flex;
  gap: 24px;
  padding: 0 160px;
}

.food {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
}

.icons {
  padding: 65px 0 30px 23px;
}

.food-title {
  color: #121212;
  font-weight: 600;
  font-size: 24px;
  padding: 0 0 16px 23px;
}

.food-description {
  font-weight: 400;
  font-size: 16px;
  color: #707070;
  padding: 0 23px 54px;
}

.shelter {
  background: rgba(255, 89, 89, 0.1);
  border-radius: 5px;
}

.education-icon {
  width: 53px;
  height: 53px;
  padding: 65px 0 30px 23px;
}

.education {
  background: rgba(255, 202, 89, 0.452);
  border-radius: 5px;
}

/* thei lives depen on you part */

.contribute{
  margin: 120px 200px;
}
.contribute-flex {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.contribute-heading {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  padding: 100px 0 20px;
}

.contribute-paragraph {
  color: #707070;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 30px;
}

.contribute-image {
  width: 456px;
  height: 477px;
}

.contribute-margin{
  margin-top: 100px;
}
